/*-------------------------------
GENERAL
-------------------------------*/

@font-face {
	font-family: 'Lato-Light';
	src: url('fonts/Lato-Light.ttf'); 
}

* {
	margin: 0;
	padding: 0;
	font-family: 'Lato-Light', sans-serif;
}

.containerBox {
	max-width: 1150px;
	padding: 80px 20px 80px 20px;
	margin-top: -25px;
	margin: auto;
}

h1, h2, h3 {
	font-weight: 300;
	text-transform: uppercase;
	margin-top: 20px;
}

h1 {
	font-size: 280%;
	color: #fff;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	font-size: 220%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h3 {
	font-size: 1.4em;
}

p{
	font-size: 1.1em;
	margin-top: 20px;
	margin-bottom: 50px;
}

.button {
	background-color: transparent;
	font-family: 'Lato-Light';
	border-radius: 100px;
	color: #fff;
	border: 1px solid grey;
	margin-bottom: 20px;
}

.button:hover {
	color: #BF55EC;
	border: 1px solid #BF55EC;
}

.surlign {
	width: 100px;
	height: 2px;
	border: 1px solid #BF55EC;
	margin: auto;
	margin-bottom: 30px;
}

.middleBox {
	width: 70%;
	margin: auto;
	margin-bottom: 30px;
}

.displayFlex {
	display: flex;
}

.miniBox {
	flex: 1;
	padding: 0 15px;
}

.fa-4x {
	color: #BF55EC;
}

.clear {
	clear: both;
}

.marginTop{
	margin-top: -23px;
}

/* si écran moins de 950px alors... */
@media all and (max-width: 950px) {
	.rowToCol {
		flex-direction: column;
	}
	h1 {
		font-size: 1.5em;
	}
}

/*-------------------------------
BANNER
-------------------------------*/

.banner {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/bg.jpg");
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.banner .headerNormal {
	padding-left: 20px;
	padding-right: 20px;
}

.banner .headerNormal .logo img {
	float: left;
	width: 100px;
	margin-top: 20px;
}

.banner .mainTitleBox {
	position: absolute;
	top: 40%;
}

.banner .mainTitleBox h1 {
	margin-bottom: 20px;
}

.banner .mainTitleBox button {
	margin-right: 20px;
}

/* menu normal */

.banner .headerNormal .nav {
	float: right;
	margin-top: 55px;
	font-size: 1.1em;
}

.banner .headerNormal .nav a {
	margin-left: 40px;
	color: #fff;
	font-weight: 100;
}

.banner .headerNormal .nav a:hover {
	border-bottom: 2px solid #BF55EC;
}

/* menu responsive */

.logoHamb {
	position: fixed;
	z-index: 9999;
	top: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
}

.navResp {
	position: fixed;
	float: left;
	z-index: 999;
	height: 100vh;
	background-color: black;
	width: 100vw;
	display: flex;
	margin-left: -100vw;
	transition-duration: 0.2s;
	flex-direction: column;
}



.navResp a {
	color: #fff;
	text-align: center;
	display: block;
	padding-top: 100px;
	flex: 1;
}

.navResp_open {
	margin-left: 0;
	transition-duration: 0.2s;
}

/* si écran moins de 950px alors... */
@media all and (max-width: 950px) {
	.nav {
		display: none;
	}
	.logo {
		width: 70px;
	}
}

/* si écran plus de 950px alors... */
@media all and (min-width: 950px) {
	.navResp, .logoHamb {
		display: none;
	}
}

/*-------------------------------
TROISIEME BLOCK
-------------------------------*/

.troisiemeBlock .gallery {
	display: flex;
	width: 100%;
}

.troisiemeBlock .gallery .galleryItem {
	background-size: cover;
	width: 100%;
	height: 200px;
	transition: transform 0.5s, opacity 0.5s;
}

.troisiemeBlock .gallery .galleryItem:hover {
	transform: scale(1.03);
}

/*-------------------------------
QUATRIEME BLOCK
-------------------------------*/

.quatriemeBlock {
	background-color: #F4F4F4;
}

.quatriemeBlock .miniBox .iPhone {
	width: 40%;
	float: right;
}

.quatriemeBlock .miniBox .numBox {
	display: flex;
	font-size: 2em;
	color: #BF55EC;
	padding: 10px;
	margin-right: 25px;
	
}

.quatriemeBlock .miniBox .numBox .num {
	border: 1px solid #BF55EC;
	height:45px;
	width: 45px;
	border-radius: 50%;
	justify-content: center;
	text-align: center;

}

.quatriemeBlock .miniBox p {
	margin-top: 7px;
}

.quatriemeBlock .miniBox .logoDevice {
	height: 50px;
	margin-right: 15px;
}

/* si écran moins de 950px alors... */
@media all and (max-width: 950px) {
	.quatriemeBlock .miniBox .iPhone {
		float: none;
		margin-left: 30%;
	}
}

/*-------------------------------
BANNER 2
-------------------------------*/

.banner2 {
	background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("images/a.jpg");
	background-attachment:fixed;
	background-position: center;
	background-size: cover;
	
}

.banner2 h2, .banner2 p {
	color: #fff;
}

.banner2 img {
	height: 50px;
}

.banner2 .miniPortrait {
	border-radius: 50%;
	margin-right: 10px;
}


/*-------------------------------
CINQUIEME BLOCK
-------------------------------*/

.cinquiemeBlock .bab {
	color: #BF55EC;
}

.cinquiemeBlock p {
	margin-top: 10px;
	margin-bottom: 0px;
}

.cinquiemeBlock a {
	color: #BF55EC;
}

.cinquiemeBlock a:hover {
	color: #555564;
}

/*-------------------------------
SIXIEME BLOCK
-------------------------------*/

.sixiemeBlock {
	background-color: #F4F4F4;
}

.sixiemeBlock .miniBox {
	background-color: #fff;
}

.sixiemeBlock .mauve {
	color: #BF55EC;
}

.sixiemeBlock .price {
	font-size: 1.8em;
}

.sixiemeBlock .btn1 {
	margin-top: 20px;
	color: #4A4A4A;
}

.sixiemeBlock .btn1:hover {
	color: #BF55EC;
}

/*-------------------------------
SEPTIEME BLOCK
-------------------------------*/

.septiemeBlock form {
	max-width: 600px;
	margin: auto;
}

.septiemeBlock .btn2 {
	color: #4A4A4A;
}

.septiemeBlock .btn2:hover {
	color: #BF55EC;
}

/*-------------------------------
FOOTER BLOCK
-------------------------------*/

.footer {
	background-color: #333333;
	height: 220px;
	color: #888888;
}

.footer a {
	color: #888888;
	font-size: 1.1em;
}

.footer .floatLeft {
	float: left;
}

.footer .floatRight {
	float: right;
}

.footer .containerBox1 {
	max-width: 1150px;
	padding: 30px 20px 0px 20px;
	margin-top: -25px;
	margin: auto;
}

.footer .margRight {
	margin-right: 20px;
}

.footer .margLeft {
	margin-left: 20px;
}

.footer p {
	text-align: center;
}








